page-messenger {
  .chat-message{
    color: #5c5c5c;
    background: #e6ebf0;
    padding: 10px 15px;
    border-radius: 52px;
    display: inline-block;
  }
  .chat-message-me{
    background: dodgerblue;
    color: white;
  }
}
