<!--
  Generated template for the Messenger page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{receiver}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngFor="let message of messages" no-lines>
      <!--<span class="triangle-left"></span>-->
      <div class="chat-message chat-message" *ngIf="message.sender !== sender">{{ message.text }}</div>

      <!--<span class="triangle-right"></span>-->
      <div class="chat-message chat-message-me" *ngIf="message.sender === sender">{{ message.text }}</div>
      <div style="clear: both;"></div>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea fz-elastic placeholder="Message" #messageInput [value]=messageText></ion-textarea>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="sendWhisper(messageInput.value)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

